<form #form="ngForm">
  <h2 mat-dialog-title>{{ translation.search[lang] }}</h2>
  <mat-dialog-content>
    <mat-form-field fxFill>
      <mat-label>{{ translation.word[lang] }}</mat-label>
      <input matInput name="word" [(ngModel)]="word" [matAutocomplete]="auto" />
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <ng-container *ngIf="word">
        <mat-option [value]="word" (click)="onTwitter()">
          {{ translation.twitter[lang] }}
        </mat-option>
        <mat-option [value]="word" (click)="onFacebook()">
          {{ translation.facebook[lang] }}
        </mat-option>
        <mat-option [value]="word" (click)="onInstagram()">
          {{ translation.instagram[lang] }}
        </mat-option>
         <mat-option [value]="word" (click)="onGithub()">
          {{ translation.github[lang] }}
        </mat-option>
      </ng-container>
    </mat-autocomplete>
    <mat-nav-list>
      <ng-container *ngFor="let profile of profiles$ | async">
        <mat-list-item (click)="close(profile)">
          <img mat-list-icon src="{{ profile.photoURL }}" />
          <span>{{ profile.name }}</span>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row">
    <span class="fill-remaining-space"></span>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
