<section class="header" fxlayout="column">
  <h3>IdeasBank</h3>
  <!-- <span class="fill-remaining-space"></span> -->
</section>

<mat-divider></mat-divider>

<!-- <section class="nav-menu">
  <mat-nav-list>
    <mat-list-item routerLink="/wallet">
      <mat-icon mat-list-icon>home</mat-icon>
      Wallet
    </mat-list-item>
    <mat-list-item routerLink="/cheque">
      <mat-icon mat-list-icon>account_balance</mat-icon>
      Cheque
    </mat-list-item> -->
<!-- <mat-list-item routerLink="/gesell">
      <mat-icon mat-list-icon>monetization_on</mat-icon>
      Gesell
    </mat-list-item>
    <mat-list-item routerLink="/cosign">
      <mat-icon mat-list-icon>create</mat-icon>
      Cosign
    </mat-list-item> -->
<!-- </mat-nav-list>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <mat-list-item routerLink="/user/settings">
      <mat-icon mat-list-icon>settings_applications </mat-icon>
      設定
    </mat-list-item>
    <mat-list-item (click)="logout()">
      <mat-icon mat-list-icon>exit_to_app</mat-icon>
      ログアウト
    </mat-list-item>
    <mat-divider></mat-divider>
    <a mat-list-item href="https://lcnem.com/company/contact" target="_blank">
      <mat-icon mat-list-icon>mail_outline</mat-icon>
      お問い合わせ
    </a>
  </mat-nav-list>
</section> -->
